In [1]:
import pandas as pd
import numpy as np


df=pd.read_csv("wfp_food_prices_phl.csv", low_memory=False)

df

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,#date,#adm1+name,#adm2+name,#loc+market+name,#geo+lat,#geo+lon,#item+type,#item+name,#item+unit,#item+price+flag,#item+price+type,#currency,#value,#value+usd
1,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,Maize flour (yellow),KG,actual,Retail,PHP,15,0.3717
2,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (milled, superior)",KG,actual,Retail,PHP,20,0.4957
3,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (milled, superior)",KG,actual,Wholesale,PHP,18.35,0.4548
4,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (regular, milled)",KG,actual,Retail,PHP,18,0.4461
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107350,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Ginger,KG,aggregate,Retail,PHP,114,2.3725
107351,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Mangoes (carabao),KG,aggregate,Retail,PHP,106.67,2.2199
107352,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Onions (red),KG,aggregate,Retail,PHP,114.17,2.3759
107353,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Papaya,KG,aggregate,Retail,PHP,45,0.9365
107354,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Tomatoes,KG,aggregate,Retail,PHP,81.67,1.6996

In [2]:
df=df[1:][:]
df

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
1,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,Maize flour (yellow),KG,actual,Retail,PHP,15,0.3717
2,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (milled, superior)",KG,actual,Retail,PHP,20,0.4957
3,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (milled, superior)",KG,actual,Wholesale,PHP,18.35,0.4548
4,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (regular, milled)",KG,actual,Retail,PHP,18,0.4461
5,2000-01-15,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (regular, milled)",KG,actual,Wholesale,PHP,16.35,0.4052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107350,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Ginger,KG,aggregate,Retail,PHP,114,2.3725
107351,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Mangoes (carabao),KG,aggregate,Retail,PHP,106.67,2.2199
107352,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Onions (red),KG,aggregate,Retail,PHP,114.17,2.3759
107353,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Papaya,KG,aggregate,Retail,PHP,45,0.9365
107354,2021-02-15,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Tomatoes,KG,aggregate,Retail,PHP,81.67,1.6996

In [3]:
size=len(df['date'])
year_arr=np.zeros((size,1))
month_arr=np.zeros((size,1))
i=0
for date in df['date']:
  darr=date.split('-')
  year_arr[i]=darr[0]
  month_arr[i]=darr[1]
  #print(darr[1])
  i+=1

df['year']=year_arr.astype(int)
df['month']=month_arr.astype(int)
df=df.drop(labels='date',axis=1) 

df

,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice,year,month
1,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,Maize flour (yellow),KG,actual,Retail,PHP,15,0.3717,2000,1
2,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (milled, superior)",KG,actual,Retail,PHP,20,0.4957,2000,1
3,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (milled, superior)",KG,actual,Wholesale,PHP,18.35,0.4548,2000,1
4,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (regular, milled)",KG,actual,Retail,PHP,18,0.4461,2000,1
5,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (regular, milled)",KG,actual,Wholesale,PHP,16.35,0.4052,2000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107350,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Ginger,KG,aggregate,Retail,PHP,114,2.3725,2021,2
107351,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Mangoes (carabao),KG,aggregate,Retail,PHP,106.67,2.2199,2021,2
107352,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Onions (red),KG,aggregate,Retail,PHP,114.17,2.3759,2021,2
107353,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Papaya,KG,aggregate,Retail,PHP,45,0.9365,2021,2
107354,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Tomatoes,KG,aggregate,Retail,PHP,81.67,1.6996,2021,2

In [4]:
df=df.rename({'admin1': 'province', 'admin2': 'district'}, axis=1) 
df

,province,district,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice,year,month
1,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,Maize flour (yellow),KG,actual,Retail,PHP,15,0.3717,2000,1
2,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (milled, superior)",KG,actual,Retail,PHP,20,0.4957,2000,1
3,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (milled, superior)",KG,actual,Wholesale,PHP,18.35,0.4548,2000,1
4,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (regular, milled)",KG,actual,Retail,PHP,18,0.4461,2000,1
5,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (regular, milled)",KG,actual,Wholesale,PHP,16.35,0.4052,2000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107350,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Ginger,KG,aggregate,Retail,PHP,114,2.3725,2021,2
107351,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Mangoes (carabao),KG,aggregate,Retail,PHP,106.67,2.2199,2021,2
107352,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Onions (red),KG,aggregate,Retail,PHP,114.17,2.3759,2021,2
107353,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Papaya,KG,aggregate,Retail,PHP,45,0.9365,2021,2
107354,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,vegetables and fruits,Tomatoes,KG,aggregate,Retail,PHP,81.67,1.6996,2021,2

In [5]:
cats_uniq = df['commodity'].unique()
cats_uniq

array(['Maize flour (yellow)', 'Rice (milled, superior)',
       'Rice (regular, milled)', 'Meat (pork)', 'Maize flour (white)',
       'Maize (yellow)', 'Maize (white)', 'Potatoes (Irish)',
       'Rice (paddy)', 'Sweet potatoes', 'Cabbage', 'Carrots', 'Garlic',
       'Onions (red)', 'Tomatoes', 'Onions (white)', 'Eggs',
       'Fish (fresh)', 'Meat (beef, chops with bones)',
       'Meat (chicken, whole)', 'Beans (mung)', 'Groundnuts (unshelled)',
       'Rice (premium)', 'Rice (special)', 'Rice (well milled)', 'Taro',
       'Anchovies', 'Crab', 'Fish (frigate tuna)',
       'Fish (mackerel, fresh)', 'Fish (roundscad)', 'Fish (slipmouth)',
       'Fish (threadfin bream)', 'Meat (beef)', 'Meat (pork, with bones)',
       'Shrimp (endeavor)', 'Groundnuts (shelled)', 'Bananas (latundan)',
       'Bananas (saba)', 'Beans (green, fresh)', 'Beans (string)',
       'Bitter melon', 'Bottle gourd', 'Cabbage (chinese)', 'Calamansi',
       'Choko', 'Coconut', 'Eggplants', 'Ginger', 'Papaya', 'Squashes',
       'Sweet Potato leaves', 'Water spinach', 'Semolina (white)',
       'Semolina (yellow)', 'Eggs (duck)', 'Fish (milkfish)',
       'Fish (redbelly yellowtail fusilier)', 'Fish (tilapia)',
       'Meat (pork, hock)', 'Shrimp (tiger)', 'Bananas (lakatan)',
       'Mangoes (carabao)', 'Mangoes (piko)', 'Pineapples', 'Chicken',
       'Mandarins', 'Sugar (brown)', 'Sugar (white)', 'Oil (cooking)',
       'Garlic (large)', 'Meat (pork, with fat)', 'Garlic (small)'],
      dtype=object)

In [6]:
# df2=df.query("commodity == 'Rice (premium)' or commodity == 'Rice (special)' or commodity == 'Rice (well milled)'  ")
df2=df.query("commodity == 'Rice (milled, superior)' or commodity == 'Rice (premium)' or commodity == 'Rice (special)'")
df2

,province,district,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice,year,month
2,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (milled, superior)",KG,actual,Retail,PHP,20,0.4957,2000,1
3,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (milled, superior)",KG,actual,Wholesale,PHP,18.35,0.4548,2000,1
7,Region III,Nueva Ecija,Palayan,15.5415,121.0848,cereals and tubers,"Rice (milled, superior)",KG,actual,Retail,PHP,19,0.4709,2000,1
8,Region III,Nueva Ecija,Palayan,15.5415,121.0848,cereals and tubers,"Rice (milled, superior)",KG,actual,Wholesale,PHP,18,0.4461,2000,1
11,Region VI,Iloilo,Iloilo City,10.696944,122.564444,cereals and tubers,"Rice (milled, superior)",KG,actual,Retail,PHP,20.4,0.5056,2000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107198,Region VIII,Leyte,Tacloban City,11.245652,124.998792,cereals and tubers,Rice (special),KG,aggregate,Retail,PHP,62.5,1.3007,2021,2
107232,Region X,Misamis Oriental,Cagayan de Oro City,8.477437,124.651647,cereals and tubers,Rice (special),KG,aggregate,Retail,PHP,47.25,0.9833,2021,2
107258,Region XI,Davao del Sur,Davao City,7.18,125.44,cereals and tubers,Rice (special),KG,aggregate,Retail,PHP,41.5,0.8637,2021,2
107291,Region XII,North Cotabato,Kidapawan City,7.012572,125.089988,cereals and tubers,Rice (special),KG,aggregate,Retail,PHP,42.56,0.8858,2021,2
107324,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,cereals and tubers,Rice (special),KG,aggregate,Retail,PHP,50.92,1.0597,2021,2

In [7]:
year_uniq = df2['year'].unique()
year_uniq

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021,
       2022])

In [8]:
cats_uniq = df2['province'].unique()
cats_uniq

array(['National Capital region', 'Region III', 'Region VI', 'Region VII',
       'Region XI', 'Region XII', 'Autonomous region in Muslim Mindanao',
       'Cordillera Administrative region', 'Region I', 'Region II',
       'Region IV-A', 'Region IV-B', 'Region IX', 'Region V',
       'Region VIII', 'Region X', 'Region XIII'], dtype=object)

In [9]:
df2 = df2.reset_index(drop=True)
df2

,province,district,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice,year,month
0,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (milled, superior)",KG,actual,Retail,PHP,20,0.4957,2000,1
1,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,cereals and tubers,"Rice (milled, superior)",KG,actual,Wholesale,PHP,18.35,0.4548,2000,1
2,Region III,Nueva Ecija,Palayan,15.5415,121.0848,cereals and tubers,"Rice (milled, superior)",KG,actual,Retail,PHP,19,0.4709,2000,1
3,Region III,Nueva Ecija,Palayan,15.5415,121.0848,cereals and tubers,"Rice (milled, superior)",KG,actual,Wholesale,PHP,18,0.4461,2000,1
4,Region VI,Iloilo,Iloilo City,10.696944,122.564444,cereals and tubers,"Rice (milled, superior)",KG,actual,Retail,PHP,20.4,0.5056,2000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5144,Region VIII,Leyte,Tacloban City,11.245652,124.998792,cereals and tubers,Rice (special),KG,aggregate,Retail,PHP,62.5,1.3007,2021,2
5145,Region X,Misamis Oriental,Cagayan de Oro City,8.477437,124.651647,cereals and tubers,Rice (special),KG,aggregate,Retail,PHP,47.25,0.9833,2021,2
5146,Region XI,Davao del Sur,Davao City,7.18,125.44,cereals and tubers,Rice (special),KG,aggregate,Retail,PHP,41.5,0.8637,2021,2
5147,Region XII,North Cotabato,Kidapawan City,7.012572,125.089988,cereals and tubers,Rice (special),KG,aggregate,Retail,PHP,42.56,0.8858,2021,2
5148,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,cereals and tubers,Rice (special),KG,aggregate,Retail,PHP,50.92,1.0597,2021,2

In [10]:
df2=df2.drop(labels='usdprice',axis=1)
df2=df2.drop(labels='currency',axis=1)
df2=df2.drop(labels='unit',axis=1)
df2=df2.drop(labels='category',axis=1) 
df2=df2.drop(labels='pricetype',axis=1) 
df2=df2.drop(labels='commodity',axis=1)

In [11]:
df3 = df2.copy(deep=True) 

df3

,province,district,market,latitude,longitude,priceflag,price,year,month
0,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,actual,20,2000,1
1,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,actual,18.35,2000,1
2,Region III,Nueva Ecija,Palayan,15.5415,121.0848,actual,19,2000,1
3,Region III,Nueva Ecija,Palayan,15.5415,121.0848,actual,18,2000,1
4,Region VI,Iloilo,Iloilo City,10.696944,122.564444,actual,20.4,2000,1
...,...,...,...,...,...,...,...,...,...
5144,Region VIII,Leyte,Tacloban City,11.245652,124.998792,aggregate,62.5,2021,2
5145,Region X,Misamis Oriental,Cagayan de Oro City,8.477437,124.651647,aggregate,47.25,2021,2
5146,Region XI,Davao del Sur,Davao City,7.18,125.44,aggregate,41.5,2021,2
5147,Region XII,North Cotabato,Kidapawan City,7.012572,125.089988,aggregate,42.56,2021,2
5148,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,aggregate,50.92,2021,2

In [12]:
def uniq(df, column):
    uniq = df[column].unique()
    return uniq

In [13]:
def dicts(uniq):

    dict ={}

    for i in range (len(uniq)):
        dict[uniq[i]] = i+1
    return dict

In [14]:
def cat_to_num(df, column, dicts):
    size=len(df[column])
    catg=df[column].unique()

    catgarr=list(dicts.keys())
    carr=dicts
    
    for i in range (len(catg)):
      a=np.zeros((size,1))
      exec('catgarr[i] = a')

    for j in range (size):
      cval=df[column][j]
      ind=carr.get(cval)
      catgarr[ind-1][j]=1

    r=0
    for c in catg:
      df[c]=catgarr[r].astype(int)
      r+=1

In [15]:
prov_uniq = uniq(df2, 'province')
dict_prov = dicts(prov_uniq)
cat_to_num(df2,'province', dict_prov)
df2=df2.drop(labels='province',axis=1) 
df2

,district,market,latitude,longitude,priceflag,price,year,month,National Capital region,Region III,...,Cordillera Administrative region,Region I,Region II,Region IV-A,Region IV-B,Region IX,Region V,Region VIII,Region X,Region XIII
0,Metropolitan Manila,Metro Manila,14.604167,120.982222,actual,20,2000,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,Metropolitan Manila,Metro Manila,14.604167,120.982222,actual,18.35,2000,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,Nueva Ecija,Palayan,15.5415,121.0848,actual,19,2000,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,Nueva Ecija,Palayan,15.5415,121.0848,actual,18,2000,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,Iloilo,Iloilo City,10.696944,122.564444,actual,20.4,2000,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5144,Leyte,Tacloban City,11.245652,124.998792,aggregate,62.5,2021,2,0,0,...,0,0,0,0,0,0,0,1,0,0
5145,Misamis Oriental,Cagayan de Oro City,8.477437,124.651647,aggregate,47.25,2021,2,0,0,...,0,0,0,0,0,0,0,0,1,0
5146,Davao del Sur,Davao City,7.18,125.44,aggregate,41.5,2021,2,0,0,...,0,0,0,0,0,0,0,0,0,0
5147,North Cotabato,Kidapawan City,7.012572,125.089988,aggregate,42.56,2021,2,0,0,...,0,0,0,0,0,0,0,0,0,0
5148,Agusan del Norte,Butuan City,8.957268,125.534029,aggregate,50.92,2021,2,0,0,...,0,0,0,0,0,0,0,0,0,1

In [16]:
df2['month'] = df2['month'].apply(str)

month_uniq = uniq(df2, 'month')
month_uniq

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
      dtype=object)

In [17]:
dict_month = dicts(month_uniq)
cat_to_num(df2,'month', dict_month)
df2=df2.drop(labels='month',axis=1) 
df2

,district,market,latitude,longitude,priceflag,price,year,National Capital region,Region III,Region VI,...,3,4,5,6,7,8,9,10,11,12
0,Metropolitan Manila,Metro Manila,14.604167,120.982222,actual,20,2000,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Metropolitan Manila,Metro Manila,14.604167,120.982222,actual,18.35,2000,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Nueva Ecija,Palayan,15.5415,121.0848,actual,19,2000,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,Nueva Ecija,Palayan,15.5415,121.0848,actual,18,2000,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,Iloilo,Iloilo City,10.696944,122.564444,actual,20.4,2000,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5144,Leyte,Tacloban City,11.245652,124.998792,aggregate,62.5,2021,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5145,Misamis Oriental,Cagayan de Oro City,8.477437,124.651647,aggregate,47.25,2021,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5146,Davao del Sur,Davao City,7.18,125.44,aggregate,41.5,2021,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5147,North Cotabato,Kidapawan City,7.012572,125.089988,aggregate,42.56,2021,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5148,Agusan del Norte,Butuan City,8.957268,125.534029,aggregate,50.92,2021,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
dist_uniq = uniq(df2, 'district')
dict_dist = dicts(dist_uniq)
cat_to_num(df2,'district', dict_dist)
df2=df2.drop(labels='district',axis=1) 
df2

,market,latitude,longitude,priceflag,price,year,National Capital region,Region III,Region VI,Region VII,...,Abra,Apayao,Mountain Province,Isabela,Zamboanga Sibugay,Camarines Norte,Guimaras,Biliran,Dinagat Islands,Camarines Sur
0,Metro Manila,14.604167,120.982222,actual,20,2000,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Metro Manila,14.604167,120.982222,actual,18.35,2000,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Palayan,15.5415,121.0848,actual,19,2000,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Palayan,15.5415,121.0848,actual,18,2000,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Iloilo City,10.696944,122.564444,actual,20.4,2000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5144,Tacloban City,11.245652,124.998792,aggregate,62.5,2021,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5145,Cagayan de Oro City,8.477437,124.651647,aggregate,47.25,2021,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5146,Davao City,7.18,125.44,aggregate,41.5,2021,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5147,Kidapawan City,7.012572,125.089988,aggregate,42.56,2021,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5148,Butuan City,8.957268,125.534029,aggregate,50.92,2021,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
mrkt_uniq = uniq(df2, 'market')
dict_mrkt = dicts(mrkt_uniq)
cat_to_num(df2,'market', dict_mrkt)
df2=df2.drop(labels='market',axis=1) 
df2

C:\Users\airco\AppData\Local\Temp\ipykernel_24216\1777874684.py:19: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[c]=catgarr[r].astype(int)
C:\Users\airco\AppData\Local\Temp\ipykernel_24216\1777874684.py:19: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[c]=catgarr[r].astype(int)

,latitude,longitude,priceflag,price,year,National Capital region,Region III,Region VI,Region VII,Region XI,...,Tuguegarao City,Cabanatuan City,Batangas City,Legazpi City,Naga City,Tacloban City,Cagayan de Oro City,Kidapawan City,Butuan City,Calapan City
0,14.604167,120.982222,actual,20,2000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,14.604167,120.982222,actual,18.35,2000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,15.5415,121.0848,actual,19,2000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,15.5415,121.0848,actual,18,2000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,10.696944,122.564444,actual,20.4,2000,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5144,11.245652,124.998792,aggregate,62.5,2021,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5145,8.477437,124.651647,aggregate,47.25,2021,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5146,7.18,125.44,aggregate,41.5,2021,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5147,7.012572,125.089988,aggregate,42.56,2021,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5148,8.957268,125.534029,aggregate,50.92,2021,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [20]:
pf_uniq = uniq(df2, 'priceflag')
dict_pf = dicts(pf_uniq)
cat_to_num(df2,'priceflag', dict_pf)
df2=df2.drop(labels='priceflag',axis=1) 
df2

,latitude,longitude,price,year,National Capital region,Region III,Region VI,Region VII,Region XI,Region XII,...,Legazpi City,Naga City,Tacloban City,Cagayan de Oro City,Kidapawan City,Butuan City,Calapan City,actual,"actual,aggregate",aggregate
0,14.604167,120.982222,20,2000,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,14.604167,120.982222,18.35,2000,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,15.5415,121.0848,19,2000,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,15.5415,121.0848,18,2000,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,10.696944,122.564444,20.4,2000,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5144,11.245652,124.998792,62.5,2021,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
5145,8.477437,124.651647,47.25,2021,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
5146,7.18,125.44,41.5,2021,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
5147,7.012572,125.089988,42.56,2021,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
5148,8.957268,125.534029,50.92,2021,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [21]:
df2.to_csv("NO_FEATURE_RICE.csv",index=False)

In [22]:
df3

,province,district,market,latitude,longitude,priceflag,price,year,month
0,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,actual,20,2000,1
1,National Capital region,Metropolitan Manila,Metro Manila,14.604167,120.982222,actual,18.35,2000,1
2,Region III,Nueva Ecija,Palayan,15.5415,121.0848,actual,19,2000,1
3,Region III,Nueva Ecija,Palayan,15.5415,121.0848,actual,18,2000,1
4,Region VI,Iloilo,Iloilo City,10.696944,122.564444,actual,20.4,2000,1
...,...,...,...,...,...,...,...,...,...
5144,Region VIII,Leyte,Tacloban City,11.245652,124.998792,aggregate,62.5,2021,2
5145,Region X,Misamis Oriental,Cagayan de Oro City,8.477437,124.651647,aggregate,47.25,2021,2
5146,Region XI,Davao del Sur,Davao City,7.18,125.44,aggregate,41.5,2021,2
5147,Region XII,North Cotabato,Kidapawan City,7.012572,125.089988,aggregate,42.56,2021,2
5148,Region XIII,Agusan del Norte,Butuan City,8.957268,125.534029,aggregate,50.92,2021,2

In [23]:
df3=df3.drop(labels='province',axis=1) 
df3=df3.drop(labels='priceflag',axis=1) 
df3

,district,market,latitude,longitude,price,year,month
0,Metropolitan Manila,Metro Manila,14.604167,120.982222,20,2000,1
1,Metropolitan Manila,Metro Manila,14.604167,120.982222,18.35,2000,1
2,Nueva Ecija,Palayan,15.5415,121.0848,19,2000,1
3,Nueva Ecija,Palayan,15.5415,121.0848,18,2000,1
4,Iloilo,Iloilo City,10.696944,122.564444,20.4,2000,1
...,...,...,...,...,...,...,...
5144,Leyte,Tacloban City,11.245652,124.998792,62.5,2021,2
5145,Misamis Oriental,Cagayan de Oro City,8.477437,124.651647,47.25,2021,2
5146,Davao del Sur,Davao City,7.18,125.44,41.5,2021,2
5147,North Cotabato,Kidapawan City,7.012572,125.089988,42.56,2021,2
5148,Agusan del Norte,Butuan City,8.957268,125.534029,50.92,2021,2

In [24]:
df3

,district,market,latitude,longitude,price,year,month
0,Metropolitan Manila,Metro Manila,14.604167,120.982222,20,2000,1
1,Metropolitan Manila,Metro Manila,14.604167,120.982222,18.35,2000,1
2,Nueva Ecija,Palayan,15.5415,121.0848,19,2000,1
3,Nueva Ecija,Palayan,15.5415,121.0848,18,2000,1
4,Iloilo,Iloilo City,10.696944,122.564444,20.4,2000,1
...,...,...,...,...,...,...,...
5144,Leyte,Tacloban City,11.245652,124.998792,62.5,2021,2
5145,Misamis Oriental,Cagayan de Oro City,8.477437,124.651647,47.25,2021,2
5146,Davao del Sur,Davao City,7.18,125.44,41.5,2021,2
5147,North Cotabato,Kidapawan City,7.012572,125.089988,42.56,2021,2
5148,Agusan del Norte,Butuan City,8.957268,125.534029,50.92,2021,2

In [25]:
df3['month'] = df3['month'].apply(str)

month_uniq = uniq(df3, 'month')
month_uniq

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
      dtype=object)

In [26]:
dict_month = dicts(month_uniq)
cat_to_num(df3,'month', dict_month)
df3=df3.drop(labels='month',axis=1) 
df3

,district,market,latitude,longitude,price,year,1,2,3,4,5,6,7,8,9,10,11,12
0,Metropolitan Manila,Metro Manila,14.604167,120.982222,20,2000,1,0,0,0,0,0,0,0,0,0,0,0
1,Metropolitan Manila,Metro Manila,14.604167,120.982222,18.35,2000,1,0,0,0,0,0,0,0,0,0,0,0
2,Nueva Ecija,Palayan,15.5415,121.0848,19,2000,1,0,0,0,0,0,0,0,0,0,0,0
3,Nueva Ecija,Palayan,15.5415,121.0848,18,2000,1,0,0,0,0,0,0,0,0,0,0,0
4,Iloilo,Iloilo City,10.696944,122.564444,20.4,2000,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5144,Leyte,Tacloban City,11.245652,124.998792,62.5,2021,0,1,0,0,0,0,0,0,0,0,0,0
5145,Misamis Oriental,Cagayan de Oro City,8.477437,124.651647,47.25,2021,0,1,0,0,0,0,0,0,0,0,0,0
5146,Davao del Sur,Davao City,7.18,125.44,41.5,2021,0,1,0,0,0,0,0,0,0,0,0,0
5147,North Cotabato,Kidapawan City,7.012572,125.089988,42.56,2021,0,1,0,0,0,0,0,0,0,0,0,0
5148,Agusan del Norte,Butuan City,8.957268,125.534029,50.92,2021,0,1,0,0,0,0,0,0,0,0,0,0

In [27]:
mrkt_uniq = uniq(df3, 'market')
dict_mrkt = dicts(mrkt_uniq)
cat_to_num(df3,'market', dict_mrkt)
df3=df3.drop(labels='market',axis=1) 
df3

C:\Users\airco\AppData\Local\Temp\ipykernel_24216\1777874684.py:19: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[c]=catgarr[r].astype(int)
C:\Users\airco\AppData\Local\Temp\ipykernel_24216\1777874684.py:19: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[c]=catgarr[r].astype(int)

,district,latitude,longitude,price,year,1,2,3,4,5,...,Tuguegarao City,Cabanatuan City,Batangas City,Legazpi City,Naga City,Tacloban City,Cagayan de Oro City,Kidapawan City,Butuan City,Calapan City
0,Metropolitan Manila,14.604167,120.982222,20,2000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Metropolitan Manila,14.604167,120.982222,18.35,2000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Nueva Ecija,15.5415,121.0848,19,2000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Nueva Ecija,15.5415,121.0848,18,2000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Iloilo,10.696944,122.564444,20.4,2000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5144,Leyte,11.245652,124.998792,62.5,2021,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5145,Misamis Oriental,8.477437,124.651647,47.25,2021,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5146,Davao del Sur,7.18,125.44,41.5,2021,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5147,North Cotabato,7.012572,125.089988,42.56,2021,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5148,Agusan del Norte,8.957268,125.534029,50.92,2021,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [28]:
dist_uniq = uniq(df3, 'district')
dict_dist = dicts(dist_uniq)
cat_to_num(df3,'district', dict_dist)
df3=df3.drop(labels='district',axis=1) 
df3

,latitude,longitude,price,year,1,2,3,4,5,6,...,Naga City,Tacloban City,Cagayan de Oro City,Kidapawan City,Butuan City,Calapan City,Metropolitan Manila,La Union,Compostela Valley,North Cotabato
0,14.604167,120.982222,20,2000,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,14.604167,120.982222,18.35,2000,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,15.5415,121.0848,19,2000,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,15.5415,121.0848,18,2000,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,10.696944,122.564444,20.4,2000,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5144,11.245652,124.998792,62.5,2021,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
5145,8.477437,124.651647,47.25,2021,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5146,7.18,125.44,41.5,2021,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5147,7.012572,125.089988,42.56,2021,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
5148,8.957268,125.534029,50.92,2021,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [29]:
df3.to_csv("FEATURED_RICE.csv",index=False)